<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>servletDemo1</servlet-name>
		<servlet-class>com.itheima.servlet.servletDemo1</servlet-class>
		<!-- load-on-startup 使当前servlet在服务器被启动时就被创建 -->
		<!--<load-on-startup>2</load-on-startup>  -->
	</servlet>
	<servlet-mapping>
		<servlet-name>servletDemo1</servlet-name>
		<url-pattern>/demo1</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
	</web-app>